@page "/deposito"
@inject IHttpServicio Http
@inject NavigationManager Navigation

<h3>Depositos</h3>
<br />
@if (depositos == null)
{
    <p>Cargando...</p>
}
else if (depositos.Count == 0)
{
    <p>No hay depósitos disponibles.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CodigoDeposito</th>
                <th>NombreDeposito</th>
                <th>TipoDeposito</th>
                <th>Domicilio</th>
                  <td>
                    <a class="btn btn-primary" href="/depositos/editar{deposito.Id}">Editar</a>
                    <a class="btn btn-danger" href="/depositos/eliminar{deposito.Id}">Eliminar</a>
                  </td>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var deposito in depositos)
            {
                <tr>
                    <td>@deposito.Id</td>
                    <td>@deposito.CodigoDeposito</td>
                    <td>@deposito.NombreDeposito</td>
                    <td>@deposito.TipoDeposito</td>
                    <td>@deposito.Ubicacion</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<VerDepositoDTO>? depositos;

    protected override async Task OnInitializedAsync()
    {
        await VerDepositos();
    }

    private async Task VerDepositos()
    {
        var resp = await Http.Get<List<VerDepositoDTO>>("api/deposito");
        if (resp != null)
        {
            depositos = resp.Respuesta;
        }
    }
}
