@page "/deposito"
@inject IHttpServicio Http
@inject NavigationManager Navigation

<h3>Depositos</h3>
<br />
@if (depositos == null)
{
    <p>Cargando...</p>
}
else if (depositos.Count == 0)
{
    <p>No hay depósitos disponibles.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>CodigoDeposito</th>
                <th>NombreDeposito</th>
                <th>TipoDeposito</th>
                <th>Domicilio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var deposito in depositos)
            {
                <tr>
                    <td>@deposito.CodigoDeposito</td>
                    <td>@deposito.NombreDeposito</td>
                    <td>@deposito.TipoDeposito</td>
                    <td>@deposito.Ubicacion?.UbicacionDomicilio</td>
                    <td>
                        <a class="btn btn-primary"
                           href="/depositos/editar @deposito.Id">Editar</a>
                        <a class="btn btn-danger" href="/depositos/eliminar @deposito.Id">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<VerDepositoDTO>? depositos;

    protected override async Task OnInitializedAsync()
    {
        await ObtenerDepositos();
    }  

    private async Task ObtenerDepositos()
    {
        depositos = new List<VerDepositoDTO>()
        {
            new VerDepositoDTO()
            { 
                Id = 1,
                CodigoDeposito = "D001",
                NombreDeposito = "Deposito Central",
                TipoDeposito = "Almacenamiento",
                Ubicacion = new UbicacionDTO
                {
                    UbicacionDomicilio = "Ruta 9 km 15, Cordoba, Argentina"
                }
            }
        };
    }
}
