@page "/obras"
@inject IHttpServicio http
@inject DatosSesion datosSesion
@inject NavigationManager navManager

<PageTitle>Obras - ProStock</PageTitle>

@if (datosSesion.Usuario != null &&
    (datosSesion.Usuario.Roles.Contains("ADMINISTRADOR") || datosSesion.Usuario.Roles.Contains("JEFEDEOBRA")))
{
    <article class="p-4">
        <div class="divBotonera">
            <p class="cabecera fw-bolder">Obras</p>
            <div class="botonera">
                @if (datosSesion.Usuario.Roles.Contains("ADMINISTRADOR"))
                {
                    <a class="btn btn-add btn-success" href="/obras/crear">+</a>
                }
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover align-middle">
                <thead class="table-dark">
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (!Obras.Any() || !string.IsNullOrEmpty(Mensaje))
                    {
                        <tr>
                            <td colspan="4" class="text-center">@Mensaje</td>
                        </tr>
                    }
                    else if (Obras?.Count > 0)
                    {
                        @foreach (var obra in Obras.Skip(numeroPagina == 1 ? 0 : (numeroPagina-1) * 10).Take(10))
                        {
                            <tr>
                                <td>@obra.CodigoObra</td>
                                <td>@obra.NombreObra</td>
                                <td>
                                    <span class="badge @(obra.Estado == "En proceso" ? "bg-primary" : "bg-warning text-dark")">
                                        @obra.Estado
                                    </span>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-outline-warning mx-1" href=@($"/obras/editar/{@obra.Id}")>
                                        <i class="bi bi-pencil-fill"></i>
                                    </a>
                                    <a class="btn btn-outline-info mx-1" href=@($"/obras/{obra.Id}/depositos")>
                                        <i class="bi bi-houses"></i>
                                    </a>
                                    <button class="btn btn-outline-danger mx-1" @onclick="() => {
                                        obraSeleccionada = obra;
                                        MostraModal = true;
                                    }">
                                        <i class="bi bi-check-circle"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div class="d-flex justify-content-between">
                <div class="botoneraTabla">
                    <p class="btn-tabla" @onclick="AnteriorPagina">Anterior</p>
                    <p class="btn-tabla-numero">@numeroPagina</p>
                    <p class="btn-tabla" @onclick="SiguientePagina">Siguiente</p>
                </div>
                <p>@Obras?.Count registros totales</p>
            </div>
        </div>
    </article>
    @if (!string.IsNullOrEmpty(mensajeEstado))
    {
        <p class="msg-estado">@mensajeEstado</p>
    }

    @if (MostraModal)
    {
        <div class="modal-backdrop show"></div>
        <div class="modal fade show" id="modalConfirmarEliminar" tabindex="-1" style="display: block" aria-labelledby="confirmarEliminar" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content rounded-3 shadow">
                    <div class="modal-header bg-danger text-white">
                        <h5 class="modal-title">¿Finalizar la obra?</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" 
                        @onclick="() => MostraModal = false"></button>
                    </div>
                    <div class="modal-body text-center">
                        <p>¿Seguro que deseas finalizar la obra <strong>@obraSeleccionada?.NombreObra</strong>?</p>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button class="btn btn-secondary" data-bs-dismiss="modal" @onclick="() => MostraModal = false">Cancelar</button>
                        <button class="btn btn-danger" data-bs-dismiss="modal" 
                        @onclick="() => FinalizarObra(obraSeleccionada.Id)">Finalizar</button>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    navManager.NavigateTo("/");
}


@code {
    private DatosUsuario usuario = new();
    private List<VerObraDTO> Obras = new(); 
    private VerObraDTO obraSeleccionada = new();

    private int numeroPagina = 1;
    private bool MostraModal = false;
    private string Mensaje = string.Empty, mensajeEstado;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        usuario = datosSesion.Usuario;
        await CargarObras();
    }

    private async Task CargarObras()
    {
        Mensaje = string.Empty;
        var res = await http.Post<DatosUsuario, Response<List<VerObraDTO>>>("api/obra/obras-usuario", usuario);

        if (res.Respuesta != null)
        {
            if (res.Respuesta.Estado)
            {
                Obras = res.Respuesta.Objeto;
                Mensaje = res.Respuesta.Mensaje.Contains("éxito") ? string.Empty : res.Respuesta.Mensaje;
            }
        }
    }

    private async Task FinalizarObra(long id)
    {
        Mensaje = string.Empty;
        MostraModal = false;
        var res = await http.Delete <Response<string>>($"api/obra/{id}");
        if (res.Respuesta != null)
        {
            if (res.Respuesta.Objeto != null)
            {
                await CargarObras();
                mensajeEstado = res.Respuesta.Objeto;
                StateHasChanged();
                await Task.Delay(2500);
                mensajeEstado = "";
            }
            else mensajeEstado = res.Respuesta.Mensaje.Contains("éxito") ? string.Empty : res.Respuesta.Mensaje;         
        }     
    }

    private async Task SiguientePagina()
    {
        if (Obras.Count > numeroPagina * 10)
        {
            numeroPagina++;
            StateHasChanged();
        }
    }

    private async Task AnteriorPagina()
    {
        if (numeroPagina > 1)
        {
            numeroPagina--;
            StateHasChanged();
        }
    }
}