@page "/remitos/crear"
@using BD.Enums
@inject IHttpServicio Http
@inject NavigationManager Navigation

<PageTitle>Crear Remito - ProStockConstructora</PageTitle>

<article>
    <div class="cabecera">
        <p class="fw-bolder">Crear Remito</p>
        <a class="btn btn-secondary" href=@($"/remito")><i class="fas fa-arrow-circle-left"></i>&ensp; Atrás</a>
    </div>
    <div class="card">
        @if (!string.IsNullOrEmpty(mensaje))
        {
            <div class="alert alert-danger text-center mx-2 mt-2">
                @mensaje
            </div>
        }
        <EditForm Model="remito" OnValidSubmit="GuardarRemito">
            <DataAnnotationsValidator />
            <div>
                <div class="my-3 px-4">
                    <label class="form-label fw-semibold">N° Remito</label>
                    <InputText class="form-control" @bind-Value="remito.NumeroRemito" />
                    <ValidationMessage For="@(() => remito.NumeroRemito)" />
                </div>
                <div class="my-3 px-4">
                    <label class="form-label fw-semibold">N° Pedido</label>
                    <InputNumber class="form-control" @bind-Value="remito.NotaDePedidoId" />
                    <ValidationMessage For="@(() => remito.NotaDePedidoId)" />
                </div>
                <div class="my-3 px-4">
                    <label class="form-label fw-semibold">Deposito Origen</label>
                    <InputNumber class="form-control" @bind-Value="remito.DepositoOrigenId" />
                    <ValidationMessage For="@(() => remito.DepositoOrigenId)" />
                </div>
                <div class="my-3 px-4">
                    <label class="form-label fw-semibold">Deposito Destino</label>
                    <InputNumber class="form-control" @bind-Value="remito.DepositoDestinoId" />
                    <ValidationMessage For="@(() => remito.DepositoDestinoId)" />
                </div>
                <div class="my-3 px-4">
                    <label class="form-label fw-semibold">Estado</label>
                    <InputSelect class="form-select" @bind-Value="remito.EstadoRemito">
                        <option value="@EnumEstadoRemito.Pendiente">Pendiente</option>
                        <option value="@EnumEstadoRemito.EnTransito">En Tránsito</option>
                        <option value="@EnumEstadoRemito.Recibido">Recibido</option>
                        <option value="@EnumEstadoRemito.Anulado">Anulado</option>
                    </InputSelect>
                </div>
                <div class="my-3 px-4">
                    <label class="form-label fw-semibold">Fecha Emisión</label>
                    <InputDate class="form-control" @bind-Value="remito.FechaEmision" />
                    <ValidationMessage For="@(() => remito.FechaEmision)" />
                </div>
                <div class="my-3 px-4">
                    <label class="form-label fw-semibold">Fecha Recepción</label>
                    <InputDate class="form-control" @bind-Value="remito.FechaRecepcion" />
                    <ValidationMessage For="@(() => remito.FechaRecepcion)" />
                </div>
                <div class="modal-footer">
                    <div>
                        <button class="btn btn-success mb-2 btn-submit" type="submit">
                            <i class="bi bi-check-lg me-1"></i> Guardar
                        </button>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
</article>

@code {
    [Parameter]
    public long Id { get; set; }    
    public long NotaDePedidoId { get; set; }
    private CrearRemitoDTO remito = new CrearRemitoDTO
    {
        NumeroRemito = string.Empty,
        NotaDePedidoId = 0,
        DepositoOrigenId = 0,
        DepositoDestinoId = 0,
        EstadoRemito = EnumEstadoRemito.Pendiente,
        FechaEmision = DateTime.Now
    };
    private string mensaje = "";

    protected override async Task OnInitializedAsync()
    {
        if (NotaDePedidoId != 0)
        {
            remito.NotaDePedidoId = NotaDePedidoId;
        }
    }
    private async Task GuardarRemito()
    {
        var res = await Http.Post<CrearRemitoDTO, Response<string>>("api/remito", remito);
        if (res.Respuesta != null)
        {
            if(!string.IsNullOrEmpty(res.Respuesta.Objeto))Navigation.NavigateTo("/remito");
            else mensaje = res.Respuesta.Mensaje;
        }
     
    }
}
