@page "/obras/{ObraId:long}/depositos/{DepositoId:long}/notadepedido/{NotaDePedidoId:long}/remitos/{tipoDeSolicitud}/{RemitoId:long}/detalles"
@page "/remitos/{RemitoId:long}/detalles"
@inject IHttpServicio Http
@inject NavigationManager Nav
@inject DatosSesion Sesion

<PageTitle>Detalles de Remito - ProStock</PageTitle>

@if (Sesion.Usuario != null)
{
    <article class="p-4">
        <div class="cabecera">
            <p class="fw-bolder">Remito (Detalles)</p>
            <a class="btn btn-secondary" href=@((DepositoId != 0 && NotaDePedidoId != 0) ?
                                                    $"/obras/{ObraId}/depositos/{DepositoId}/notadepedido/{NotaDePedidoId}/remitos/{tipoDeSolicitud}"
                                                    : "/")><i class="fas fa-arrow-circle-left"></i>&ensp; Atrás</a>
        </div>
        <div class="card p-3">
            @if (!string.IsNullOrEmpty(MensajeError))
            {
                <div class="alert alert-danger" role="alert">
                    @MensajeError
                </div>
            }

            @if (remito != null)
            {
                <div class="my-3 px-4">
                    <label class="form-label">Número Remito:</label>
                    <input value="@remito.NumeroRemito" type="text" class="form-control" disabled />
                </div>

                <div class="my-3 px-4 card">
                    <div class="my-3 px-4">
                        <label class="form-label">Depósito de origen:</label>
                        <input value="@remito.DepositoOrigen" type="text" class="form-control" disabled />
                    </div>
                    <div class="my-3 px-4">
                        <label class="form-label">Generado por:</label>
                        <input value="@remito.Usuario" type="text" class="form-control" disabled />
                    </div>
                    <div class="my-3 px-4">
                        <label class="form-label">Fecha de emisión:</label>
                        <input value="@remito.FechaEmision" type="text" class="form-control" disabled />
                    </div>
                </div>

                <h5>Detalle:</h5>
                <div class="table-responsive">
                    <table class="table">
                        <thead class="table-dark">
                            <tr>
                                <th>Recurso enviado</th>
                                <th>Cantidad solicitada</th>
                                <th>Cantidad despachada</th>
                                <th>Cantidad recibida</th>
                                <th>Estado</th>
                                <th>Recibido por</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var renglon in remito.Detalles)
                            {
                                <tr>
                                    <td>@renglon.Recurso</td>
                                    <td>@renglon.Cantidad</td>
                                    <td>@renglon.CantidadDespachada</td>
                                    <td>@renglon.CantidadRecibida</td>
                                    <td>
                                        <span class="badge @ObtenerEstadoClase(renglon.Estado.ToString())">
                                            @renglon.Estado.ToString()
                                        </span>
                                    </td>
                                    <td>@renglon.UsuarioQueRecibe</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </article>
}
else
{
    Nav.NavigateTo("/");
}

@code {
    [Parameter] public long ObraId { get; set; }
    [Parameter] public long DepositoId { get; set; }
    [Parameter] public long NotaDePedidoId { get; set; }
    [Parameter] public long RemitoId { get; set; } 
    [Parameter] public string tipoDeSolicitud { get; set; }
    
    private string MensajeError;
    private VerRemitoDetalladoDTO remito;

    protected override async Task OnInitializedAsync()
    {
        await CargarRemito();
    }

    private async Task CargarRemito()
    {
        MensajeError = string.Empty;
        var Respuesta = await Http.Get<Response<VerRemitoDetalladoDTO>>($"api/remito/obtener-detalles-remito/{RemitoId}");
        if (Respuesta.Respuesta != null)
        {
            if (Respuesta.Respuesta.Objeto != null) remito = Respuesta.Respuesta.Objeto;
            else MensajeError = Respuesta.Respuesta.Mensaje;
        }
    }

    private string ObtenerEstadoClase(string estado)
    {
        if (estado == "Recibido") return "text-bg-success";
        else if (estado == "ParcialmenteRecibido") return "text-bg-primary";
        else return "text-bg-warning";
    }
}