@page "/recursos"
@page "/obras/{ObraId:long}/depositos/{DepositoId:long}/recursos"
@inject IHttpServicio http
@inject DatosSesion datosSesion
@inject NavigationManager navManager

<PageTitle>Recursos - ProStockConstructora</PageTitle>

@if (datosSesion.Usuario != null)
{
    <article class="p-4">
        <div class="divBotonera">
            <p class="cabecera fw-bolder">
                @((ObraId != null && ObraId != 0) && (DepositoId != null && DepositoId != 0)
                            ? "Listado de recursos del depósito CODE-ISO" : "Listado de recursos general de la empresa")
            </p>
            <div class="botonera">
                @if ((ObraId != null && ObraId != 0) && (DepositoId != null && DepositoId != 0))
                {
                    <div class="d-flex gap-2">
                        <a class="btn btn-outline-success d-flex align-items-center" href=@($"/obras/{ObraId}/depositos/{DepositoId}/recursos/crear")>
                            <span class="material-symbols-outlined" title="Agregar recurso">construction</span> +
                        </a>
                        <a class="btn btn-outline-success d-flex align-items-center" href=@($"/obras/{ObraId}/depositos/{DepositoId}/recursos/unidad-medida")>
                            <span class="material-symbols-outlined" title="Agregar unidad de medida">square_foot</span> +
                        </a>
                        <a class="btn btn-outline-success d-flex align-items-center" href=@($"/obras/{ObraId}/depositos/{DepositoId}/recursos/tipo-material")>
                            <span class="material-symbols-outlined" title="Agregar tipo de material">home_improvement_and_tools</span> +
                        </a>
                    </div>
                }
            </div>
        </div>

        <div class="table-responsive">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>Código ISO</th>
                        <th>Nombre</th>
                        <th>Tipo de Material</th>
                        @if ((ObraId != null && ObraId != 0) && (DepositoId != null && DepositoId != 0))
                        {
                            <th>Cantidad</th>
                        }
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (!string.IsNullOrEmpty(Mensaje) || listaRecursos == null || !listaRecursos.Any())
                    {
                        <tr>
                            <td colspan="@((ObraId != null && ObraId != 0) && (DepositoId != null && DepositoId != 0) ? 5 : 4)" class="text-center">@Mensaje</td>
                        </tr>
                    }
                    else if (listaRecursos?.Count > 0)
                    {
                        @foreach (var recurso
                                        in listaRecursos.Skip(numeroPagina == 1 ? 0 : (numeroPagina - 1) * 10).Take(10))
                        {
                            <tr>
                                <td>@recurso.CodigoISO</td>
                                <td>@recurso.Nombre</td>
                                <td>@recurso.TipoMaterial (@recurso.UnidadMedida)</td>
                                @if ((ObraId != null && ObraId != 0) && (DepositoId != null && DepositoId != 0))
                                {
                                    <td>@recurso.Cantidad</td>
                                    <td>
                                        <a class="btn btn-outline-warning" href=@($"/obras/{ObraId}/depositos/{DepositoId}/recursos/crear/editar/{recurso.Id}")>
                                            <i class="bi bi-pencil-fill"></i>
                                        </a>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <a class="btn btn-outline-warning" href=@($"/recursos/editar/{recurso.Id}")>
                                            <i class="bi bi-pencil-fill"></i>
                                        </a>
                                    </td>
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div class="d-flex justify-content-between">
                <div class="botoneraTabla">
                    <p class="btn-tabla" @onclick="AnteriorPagina">Anterior</p>
                    <p class="btn-tabla-numero">@numeroPagina</p>
                    <p class="btn-tabla" @onclick="SiguientePagina">Siguiente</p>
                </div>
                <p>@listaRecursos?.Count registros totales</p>
            </div>
        </div>
    </article>
}
else
{
    navManager.NavigateTo("/");
}

@code {
    private DatosUsuario usuario;
    [Parameter]
    public long? ObraId { get; set; }
    [Parameter]
    public long? DepositoId { get; set; }

    private int numeroPagina = 1;
    private List<RecursosVerDTO> listaRecursos = new();
    private string Mensaje;

    protected async override Task OnParametersSetAsync()
    {
        if (datosSesion.Usuario != null)
        {
            usuario = datosSesion.Usuario;
            listaRecursos = new();
            numeroPagina = 1;
            await CargarRecursos();
        }
        else navManager.NavigateTo("/");
        StateHasChanged();
    }

    private async Task CargarRecursos()
    {
        Mensaje = string.Empty;
        var res = ((ObraId != null && ObraId != 0) && (DepositoId != null && DepositoId != 0))
                        ? await http.Get<Response<List<RecursosVerDTO>>>($"/api/recursos/deposito/{DepositoId}")
                        : await http.Get<Response<List<RecursosVerDTO>>>($"/api/recursos/empresa/{usuario.EmpresaId}");

        if (res.Respuesta != null)
        {       
            if (res.Respuesta.Objeto != null) listaRecursos = res.Respuesta.Objeto;
            else Mensaje = res.Respuesta.Mensaje.Contains("éxito") ? string.Empty : res.Respuesta.Mensaje;           
            StateHasChanged();
        }
    }

    private async Task SiguientePagina()
    {
        if (listaRecursos.Count > numeroPagina * 10)
        {
            numeroPagina++;
            StateHasChanged();
        }
    }

    private async Task AnteriorPagina()
    {
        if (numeroPagina > 1)
        {
            numeroPagina--;
            StateHasChanged();
        }
    }
}
