@page "/obras/{ObraId:long}/depositos/{DepositoId:long}/notadepedido/crear"
@inject IHttpServicio Http
@inject NavigationManager Navigation
@inject DatosSesion Sesion

<PageTitle>Crear Nota de Pedido - ProStock</PageTitle>

@if (Sesion.Usuario != null && (Sesion.Usuario.Roles.Contains("ADMINISTRADOR") || Sesion.Usuario.Roles.Contains("JEFEDEOBRA")))
{
    <div class="p-4">
        <div class="cabecera">
            <p class="fw-bolder">Crear nota de pedido</p>
            <a class="btn btn-secondary" href=@($"/obras/{ObraId}/depositos/{DepositoId}/notadepedido")><i class="fas fa-arrow-circle-left"></i>&ensp; Atrás</a>
        </div>

        <form class="card p-3">
            @if (!string.IsNullOrEmpty(MensajeErrorNota))
            {
                <div class="alert alert-danger" role="alert">
                    @MensajeErrorNota
                </div>
            }
            <div class="my-3 px-4">
                <label for="emailInput" class="form-label">Numero Nota de Pedido</label>
                <input disabled @bind="NotadePedido.NumeroNotaPedido" type="text" class="form-control" id="emailInput" />
            </div>

            @foreach (var renglon in NotadePedido.ListaDePedido)
            {
                <div class="my-3 px-4 card d-flex flex-row flex-nowrap align-items-center">   
                    <div class="flex-grow-1 my-3 px-4">
                        <label for="recursoSelect" class="form-label">Seleccione depósito destino</label>
                        <InputSelect TValue="long" Value="renglon.DepositoDestinoId"
                                     ValueChanged="async(valor)=> await SeleccionarDepositoDeRenglon(renglon,valor)"
                                     ValueExpression="@(()=>renglon.DepositoDestinoId)"
                                     class="@($"form-select {(mensajesDeError[renglon].Item1 ? "border border-danger" : "")}")" id="recursoSelect">
                            @if (DetalleStockRenglones != null)
                            {
                                @foreach (var deposito in DetalleStockRenglones)
                                {
                                    <option value="@deposito.DepositoDTO.Id">@deposito.DepositoDTO.NombreDeposito (@deposito.DepositoDTO.CodigoDeposito)</option>
                                }
                            }
                            else
                            {
                                <option disabled>No hay depositos disponibles</option>
                            }
                        </InputSelect>
                        @if (mensajesDeError[renglon].Item1)
                        {
                            <div class="text-danger mt-2">Es necesario seleccionar un depósito</div>
                        }
                    </div>
                    <div class="flex-grow-1 my-3 px-4">
                        <label for="recursoSelect" class="form-label">Seleccione un recurso</label>
                        <InputSelect @bind-Value="renglon.RecursoId" @onchange="() => LimpiarErrores(renglon)"
                        class="@($"form-select {(mensajesDeError[renglon].Item2 ? "border border-danger" : "")}")">
                            @if (DetalleStockRenglones != null)
                            {
                                if (DetalleStockRenglones.FirstOrDefault(dsr => dsr.DepositoDTO.Id == renglon.DepositoDestinoId) != null)
                                {
                                    foreach (var recurso in DetalleStockRenglones.FirstOrDefault(dsr => dsr.DepositoDTO.Id == renglon.DepositoDestinoId).ListadeRecursos)
                                    {
                                        if (recurso.Cantidad > 0)
                                        {
                                            <option value="@recurso.Id"> @recurso.Nombre (@recurso.CodigoISO) - Disponible: @recurso.Cantidad </option>
                                        }
                                    }
                                }
                                else
                                {
                                    <option disabled>No hay recursos disponibles en este deposito</option>
                                }
                            }
                            else
                            {
                                <option disabled>No hay recursos disponibles</option>
                            }
                        </InputSelect>
                        @if (mensajesDeError[renglon].Item2)
                        {
                            <div class="text-danger mt-2">Es necesario seleccionar un recurso.</div>
                        }
                    </div>
                    <div class="my-3 px-4">
                        <label for="cantidadInput" class="form-label">Cantidad</label>
                        <InputNumber @bind-Value="renglon.Cantidad" type="number"
                            class="@($"form-control {(mensajesDeError[renglon].Item3 ? "border border-danger" : "")}")"   
                            disabled=@(renglon.RecursoId == 0 ? true : false) 
                            @oninput="() => LimpiarErrores(renglon)" @onchange="() => LimpiarErrores(renglon)"  />
                        @if (mensajesDeError[renglon].Item3)
                        {
                            <div class="text-danger mt-2">Escriba una cantidad válida.</div>
                        }
                    </div>
                    <button class="btn btn-danger" type="button" @onclick="() => {
                    mensajesDeError.Remove(renglon);
                    NotadePedido.ListaDePedido.Remove(renglon); 
                    }">X</button>
                </div>
            }
            <button class="btn btn-primary card d-flex justify-content-center align-items-center w-100" 
            type="button" @onclick="Agregarrenglon">Añadir detalle</button>

            <button class="btn btn-success my-2 btn-submit" type="button" @onclick="CrearNotaPedido">
                <i class="bi bi-check-lg me-1"></i> Crear nota
            </button>
        </form>
    </div>
}
else
{
    Navigation.NavigateTo("/");
}

@code {
    [Parameter]
    public long? ObraId { get; set; }
    [Parameter]
    public long DepositoId { get; set; }
    private DatosUsuario Usuario;

    private List<VerStockDTO> DetalleStockRenglones = new();
    private CrearNotaDePedidoDTO NotadePedido = new();

    private Dictionary<DetalleNotaDePedidoDTO, (bool, bool, bool)> mensajesDeError = new();
    private string MensajeErrorNota;

    override protected async Task OnInitializedAsync()
    {
        if (Sesion.Usuario != null)
        {
            Usuario = Sesion.Usuario;
            NotadePedido.UsuarioId = Usuario.Id;
            NotadePedido.DepositoOrigenId = DepositoId;

            await ObtenerNumeroNotadePedido();
            await ObtenerDetalleStockRenglones();
        }
    }

    private async Task Agregarrenglon()
    {
        DetalleNotaDePedidoDTO renglon = new() { EstadoNotaPedido = EnumEstadoNotaPedido.Pendiente };
        NotadePedido.ListaDePedido.Add(renglon);
        mensajesDeError.Add(renglon, new());
    }

    private async Task ObtenerNumeroNotadePedido()
    {
        var numero = await Http.Get<Response<string>>("api/notadepedido/obtener-numero-nota");

        if (numero.Respuesta != null)
        {
            if(numero.Respuesta.Objeto != null) NotadePedido.NumeroNotaPedido = numero.Respuesta.Objeto;
            else MensajeErrorNota = numero.Respuesta.Mensaje;
        }
    }

    private async Task ObtenerDetalleStockRenglones()
    {
        var detalleStock = Usuario.Roles.Contains("ADMINISTRADOR") ?
            await Http.Get<Response<List<VerStockDTO>>>($"api/stock/obtener-stock/{Usuario.Id}/{DepositoId}") :
            await Http.Post<List<long>, Response<List<VerStockDTO>>>($"api/stock/obtener-stock/{DepositoId}", Usuario.ObrasId);

        if (detalleStock.Respuesta != null)
        {
            if (detalleStock.Respuesta.Objeto != null) DetalleStockRenglones = detalleStock.Respuesta.Objeto;
            else MensajeErrorNota = detalleStock.Respuesta.Mensaje;
        }
    }

    private async Task SeleccionarDepositoDeRenglon(DetalleNotaDePedidoDTO renglon, long DepositoId)
    {
        LimpiarErrores(renglon);
        renglon.DepositoDestinoId = DepositoId;
        if (DetalleStockRenglones.FirstOrDefault(dsr => dsr.DepositoDTO.Id == DepositoId) != null)
        {
            var recursoDisponible = DetalleStockRenglones.FirstOrDefault(dsr => dsr.DepositoDTO.Id == DepositoId).ListadeRecursos;
            if (recursoDisponible.Count > 0)
            {
                renglon.RecursoId = recursoDisponible.First().Id;
            }
            else
            {
                renglon.RecursoId = 0;
            }
        }
        else renglon.RecursoId = 0;  
    }

    private async Task CrearNotaPedido()
    {
        MensajeErrorNota = string.Empty;
        if(NotadePedido.ListaDePedido?.Count <= 0)
        {
            MensajeErrorNota = "La nota de pedido debe tener al menos un detalle.";
            return;
        }

        bool tieneErrores = false;
        foreach(var renglon in NotadePedido.ListaDePedido)
        {
            var errores = (false, false, false);
            if (renglon.DepositoDestinoId == 0)
            {
                errores.Item1 = true;
                tieneErrores = true;
            }
            if (renglon.RecursoId == 0) {
                errores.Item2 = true; 
                tieneErrores = true;
            }
            if(renglon.Cantidad <= 0) {
                errores.Item3 = true; 
                tieneErrores = true;
            }
            if(renglon.DepositoDestinoId > 0 && renglon.RecursoId > 0)
            {
                var detalleStock = DetalleStockRenglones.FirstOrDefault(dsr => dsr.DepositoDTO.Id == renglon.DepositoDestinoId);
                if(detalleStock != null)
                {
                    var recurso = detalleStock.ListadeRecursos.FirstOrDefault(r => r.Id == renglon.RecursoId);
                    if(recurso != null)
                    {
                        if(renglon.Cantidad > recurso.Cantidad)
                        {
                            errores.Item3 = true;
                            tieneErrores = true;
                        }
                    }
                }
            }
            mensajesDeError[renglon] = errores;
        }
        if (tieneErrores) return;

        bool rengloDuplicado = NotadePedido.ListaDePedido
                               .GroupBy(d => new { d.DepositoDestinoId, d.RecursoId }).Any(g => g.Count() > 1);

        if (rengloDuplicado)
        {
            MensajeErrorNota = "La nota de pedido no puede tener dos detalles que apuntan al mismo depósito y recurso.";
            return;
        }

        var respuesta = await Http.Post<CrearNotaDePedidoDTO, Response<string>>("api/notadepedido",NotadePedido); 
        if (respuesta.Respuesta != null)
        {
            if (respuesta.Respuesta.Objeto!=null)
            {
                Navigation.NavigateTo($"/obras/{ObraId}/depositos/{DepositoId}/notadepedido");
            }
            else
            {
                MensajeErrorNota = respuesta.Respuesta.Mensaje;
            }
        }   
    }

    private void LimpiarErrores(DetalleNotaDePedidoDTO renglon) => mensajesDeError[renglon] = (false, false, false);
    
}