@page "/obras/{ObraId:long}/depositos/{DepositoId:long}/notadepedido"
@inject IHttpServicio Http
@inject NavigationManager Nav
@inject DatosSesion Sesion


@if (Sesion.Usuario != null)
{
    <article class="p-4">
        <div class="divBotonera">
            <p class="cabecera fw-bolder">Notas de pedido</p>
            <div class="botonera">
                <a class="btn btn-add btn-success" href=@($"/obras/{ObraId}/depositos/{DepositoId}/notadepedido/crear")>+</a>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>N° de Nota</th>
                        <th>Fecha Emisión</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (listaNotas == null)
                    {
                        <tr>
                            <td colspan="4">Cargando notas de pedidos...</td>
                        </tr>
                    }
                    else if (!listaNotas.Any())
                    {
                        <tr>
                            <td colspan="4">No hay notas de pedidos disponibles.</td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var nota in listaNotas
                                        .Skip(numeroPagina == 1 ? 0 : (numeroPagina - 1) * 10).Take(10))
                        {
                            <tr>
                                <td>@nota.NumeroNotaPedido</td>
                                <td>@nota.FechaEmision.ToShortDateString()</td>
                                <td>
                                    <span class="badge @ObtenerEstadoClase(nota.Estado.ToString())">
                                        @nota.Estado.ToString()
                                    </span>
                                </td>
                                <td>
                                    <a class="btn btn-outline-info" href=@($"/obras/{ObraId}/depositos/{DepositoId}/notadepedido/{nota.Id}/detalles")>
                                        <i class="bi bi-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
            <div class="d-flex justify-content-between">
                <div class="botoneraTabla">
                    <p class="btn-tabla" @onclick="AnteriorPagina">Anterior</p>
                    <p class="btn-tabla-numero">@numeroPagina</p>
                    <p class="btn-tabla" @onclick="SiguientePagina">Siguiente</p>
                </div>
                <p>@listaNotas?.Count registros totales</p>
            </div>
        </div>
    </article>
}
else
{
    Nav.NavigateTo("/");
}

@code {
    [Parameter]
    public long? ObraId { get; set; }
    [Parameter]
    public long? DepositoId { get; set; }
    private int numeroPagina = 1;

    private List<VerNotaDePedidoDTO> listaNotas = new();

    bool mostrarModalCargar = false;
    VerNotaDePedidoDTO nuevaNota = new();


    protected override async Task OnInitializedAsync()
    {
        await CargarNotas();
    }

    private async Task SiguientePagina()
    {
        if (listaNotas.Count > numeroPagina * 10)
        {
            numeroPagina++;
            StateHasChanged();
        }
    }

    private async Task AnteriorPagina()
    {
        if (numeroPagina > 1)
        {
            numeroPagina--;
            StateHasChanged();
        }
    }

    void IrEditar(string nro) => Nav.NavigateTo($"/editar-nota/{nro}");
    void IrVer(string nro) => Nav.NavigateTo($"/ver-nota/{nro}");
    void IrEliminar(string nro) => Nav.NavigateTo($"/eliminar-nota/{nro}");

    void AbrirModalCargar() => mostrarModalCargar = true;
    void CerrarModalCargar() { mostrarModalCargar = false; nuevaNota = new VerNotaDePedidoDTO(); }

    private async Task CargarNotas()
    {
        var response = await Http.Get<Response<List<VerNotaDePedidoDTO>>>($"api/notadepedido/obtener/{DepositoId}");
        if (response.Respuesta != null)
        {
            listaNotas = response.Respuesta.Objeto;
        }
    }

    private string ObtenerEstadoClase(string estado)
    {
        if (estado == "Rechazada") return "text-bg-danger";
        else if (estado == "Aprobada") return "text-bg-success";
        else if (estado == "ParcialmenteAprobada") return "text-bg-primary";
        else if (estado == "ParcialmenteRechazada") return "text-bg-secondary";
        else return "text-bg-warning";
    }
}