@page "/obras/{ObraId:long}/depositos/{DepositoId:long}/notadepedido/{NotaDePedidoId:long}/detalles"
@page "/notadepedido/{NotaDePedidoId:long}/detalles"
@inject IHttpServicio Http
@inject NavigationManager Nav
@inject DatosSesion Sesion

<PageTitle>Detalles de Nota de Pedido - ProStock</PageTitle>

@if (Sesion.Usuario != null)
{
    <article class="p-4">
        <div class="cabecera">
            <p class="fw-bolder">Notas de pedido (Detalles)</p>
            <a class="btn btn-secondary" href=@((ObraId != 0 && DepositoId != 0) ?
                                                    $"/obras/{ObraId}/depositos/{DepositoId}/notadepedido"
                                                    : "/")><i class="fas fa-arrow-circle-left"></i>&ensp; Atrás</a>
        </div>
        <div class="card p-3">
            @if (!string.IsNullOrEmpty(MensajeError))
            {
                <div class="alert alert-danger" role="alert">
                    @MensajeError
                </div>
            }

            @if (nota != null)
            {
                <div class="my-3 px-4">
                    <label class="form-label">Número Nota de Pedido:</label>
                    <input value="@nota.NumeroNotaPedido" type="text" class="form-control" disabled />
                </div>

                <div class="my-3 px-4 card">
                    <div class="my-3 px-4">
                        <label class="form-label">Depósito de origen:</label>
                        <input value="@nota.DepositoOrigen" type="text" class="form-control" disabled />
                    </div>
                    <div class="my-3 px-4">
                        <label class="form-label">Generada por:</label>
                        <input value="@nota.Usuario" type="text" class="form-control" disabled />
                    </div>
                    <div class="my-3 px-4">
                        <label class="form-label">Fecha de emisión:</label>
                        <input value="@nota.FechaEmision" type="text" class="form-control" disabled />
                    </div>
                </div>

                <h5>Detalle:</h5>
                <div class="table-responsive">
                    <table class="table">
                        <thead class="table-dark">
                            <tr>
                                <th>Depósito destino</th>
                                <th>Recurso</th>
                                <th>Cantidad solicitada</th>
                                <th>Estado</th>
                                <th>Ultima modificación por</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var renglon in nota.Detalles)
                            {
                                <tr>
                                    <td>@renglon.Deposito</td>
                                    <td>@renglon.Recurso</td>
                                    <td>@renglon.Cantidad</td>
                                    <td>
                                        <span class="badge @ObtenerEstadoClase(renglon.Estado.ToString())">
                                            @renglon.Estado.ToString()
                                        </span>
                                    </td>
                                    <td>@renglon.UsuarioQueModifico</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </article>
}
else
{
    Nav.NavigateTo("/");
}

@code {
    [Parameter] public long ObraId { get; set; }
    [Parameter] public long DepositoId { get; set; }
    [Parameter] public long NotaDePedidoId { get; set; }
    private string MensajeError;
    private VerNotadePedidoDetalladaDTO nota;

    protected override async Task OnInitializedAsync()
    {
        await CargarNotadePedido();
    }

    private async Task CargarNotadePedido()
    {
        var Respuesta = await Http.Get<Response<VerNotadePedidoDetalladaDTO>>($"api/notadepedido/obtener-detalles-nota/{NotaDePedidoId}");
        if (Respuesta.Respuesta != null)
        {
            if (Respuesta.Respuesta.Objeto != null) nota = Respuesta.Respuesta.Objeto;
            else MensajeError = Respuesta.Respuesta.Mensaje;
        }
    }

    private string ObtenerEstadoClase(string estado)
    {
        if (estado == "Rechazada") return "text-bg-danger";
        else if (estado == "Aprobada") return "text-bg-success";
        else if (estado == "ParcialmenteAprobada") return "text-bg-primary";
        else if (estado == "ParcialmenteRechazada") return "text-bg-secondary";
        else return "text-bg-warning";
    }
}