@page "/ver-nota/{numero}"
@inject NavigationManager Nav

<h3 class="mb-4">Ver Nota de Pedido</h3>

@if (nota == null)
{
    <p>Cargando...</p>
}
else
{
    <div class="card p-4 shadow">
        <p><b>Nº de Nota:</b> @nota.NumeroNotaPedido</p>
        <p><b>Depósito Origen:</b> @nota.DepositoOrigenId</p>
        <p><b>Depósito Destino:</b> @nota.DepositoDestinoId</p>
        <p><b>Fecha Emisión:</b> @nota.FechaEmision.ToShortDateString()</p>
        <p><b>Estado:</b> @nota.Estado</p>

        <button class="btn btn-secondary mt-3" @onclick="Volver">Volver</button>
    </div>
}

@code {
    [Parameter] public string? numero { get; set; }

    VerNotaDePedidoDTO? nota;

    protected override async Task OnInitializedAsync()
    {
       
        nota = new VerNotaDePedidoDTO
        {
            NumeroNotaPedido = numero!,
            DepositoOrigenId = 10,
            DepositoDestinoId = 20,
            FechaEmision = DateTime.Now.AddDays(-3),
            Estado = DTO.Enum.EnumEstadoNotaPedido.Pendiente
        };
    }

    void Volver() => Nav.NavigateTo("/notadepedidos");
}